@if (loading) {
<mat-spinner />
} @else if (error) {
<div class="error-message">
  <h2>Error fetching products.</h2>
</div>
} @else if (products.length === 0) {
<div class="no-products">
  <h2>No products found.</h2>
</div>
} @else {
<div class="filter-container">
  <mat-form-field appearance="outline">
    <mat-label>Search by Product Name</mat-label>
    <input matInput [(ngModel)]="searchText" (keyup)="onSearchTextChange()" placeholder="Enter product title">
    @if (searchText) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
      <mat-icon>clear</mat-icon>
    </button>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Filter by Brand</mat-label>
    <input matInput [(ngModel)]="brandSearch" (input)="filterBrandOptions()" [matAutocomplete]="brandAuto">
    <mat-autocomplete #brandAuto (optionSelected)="onSelectBrand($event.option.value)">
      @for (brand of filteredBrands; track $index) {
      <mat-option [value]="brand">
        {{ brand }}
      </mat-option>
      }
    </mat-autocomplete>
    @if (brandSearch) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="clearBrand()">
      <mat-icon>clear</mat-icon>
    </button>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Sort by</mat-label>
    <mat-select [(value)]="selectedSort" (selectionChange)="onSelectSort($event.value)">
      <mat-option value="" selected></mat-option>
      @for (by of sortBy; track $index) {
      @for (direction of sortDirection; track $index) {
      <mat-option [value]="by + '-' + direction">{{ by }} ({{ direction }})</mat-option>
      }
      }
    </mat-select>
  </mat-form-field>
</div>

<div class="products">
  @for (product of products; track $index) {
  <div class="product">
    <mat-card class="product-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title #cardTitle>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>{{ product.brand }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="product.image_url" [alt]="product.name"
        (error)="product.image_url='assets/fallback.avif'" />
      <mat-card-content>
        <mat-label>{{ product.price | currency :'EUR' }}</mat-label>
        <mat-form-field>
          <mat-label>Qty.</mat-label>
          <input type="number" min="1" [(ngModel)]="qty[product.id]" matInput placeholder="1">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <mat-label>{{ calculatePrice(product)| currency :'EUR' }}</mat-label>
        @if (isAdd(product)) {
        <button mat-button (click)="onAddToCart(product)">Add To Cart</button>
        } @else {
        <button mat-button (click)="onAddToCart(product)">Update Cart</button>
        <button matSuffix mat-icon-button aria-label="Clear" (click)="onRemoveFromCart(product)">
          <mat-icon>clear</mat-icon>
        </button>
        }
      </mat-card-actions>
    </mat-card>
  </div>
  }
</div>

<mat-paginator [hidePageSize]="true" [pageIndex]="page - 1" [length]="totalItems"
  [disabled]="pageCount === 1 || loading" (page)="onPageChange($event)" />
}