@if (loading) {
<mat-spinner />
} @else if (error) {
<div class="error-message">
  <h2>Error fetching order.</h2>
</div>
} @else if (!!order) {
<div class="table-container">
  <h2>Order Details</h2>
  <p><strong>Order status</strong>: {{ order.status }}</p>
  <p><strong>Last update</strong>: {{ order.updated_at | date: 'medium' }}</p>
  <table mat-table [dataSource]="order.order_contents" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let product">{{ product.id }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let product">{{ product.price_data.product_data.name }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit Price</th>
      <td mat-cell *matCellDef="let product">{{ product.price_data.unit_amount/100| currency :'EUR' }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
      <td mat-cell *matCellDef="let product">{{ product.quantity }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Subtotal Column -->
    <ng-container matColumnDef="subtotal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Subtotal</th>
      <td mat-cell *matCellDef="let product">{{ subtotal(product)| currency :'EUR' }}</td>
      <td mat-footer-cell *matFooterCellDef>
        <strong>{{ total() | currency :'EUR' }}</strong>
      </td>
    </ng-container>

    <!-- Table Header & Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>
  }
